---
import { Image } from 'astro:assets';
import BathroomImage from '../../assets/bathroom-services-section.png'
import KitchenImage from '../../assets/kitchen-services-section.png'
import BedroomImage from '../../assets/bedroom-services-section.png'
---

<section>
    <div class=" grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mx-auto gap-4 lg:gap-x-4 my-16 lg:my-16 lg:mx-8">
        <div class="card-1 ">
            <div class="brightness-75 ">
    
                <Image src={KitchenImage} alt="Image of a beautifuly styled kitchen" class="aspect-video"/>
            </div>
    
            <div class=" mx-8 lg:max-w-xl lg:mx-12  flex flex-col gap-4">
                <h2 class="mt-4 text-2xl lg:text-3xl text-[#B47A58] font-medium">One Time Cleaning</h2>
                <div class="w-16 bg-[#DBBBA7] h-1 rounded-lg"/>
                <p class=" text-md lg:text-lg text-gray-600">Our one off cleaning service is ideal for catching up on spring cleaning or sprucing a specific area in your home. Have your home sparkling again with a thorough clean.</p>
            </div>
        </div>
    
    
        <div class="card-2 my-8 sm:my-0 ">
            <div class="brightness-75 ">
    
                <Image src={BathroomImage} alt="Image of a beautifuly styled kitchen" class=""/>
            </div>
    
            <div class=" mx-8 lg:max-w-xl flex flex-col gap-4">
                <h2 class="mt-4 text-2xl lg:text-3xl text-[#B47A58] font-medium">Scheduled Cleaning</h2>
                <div class="w-16 bg-[#DBBBA7] h-1 rounded-lg"/>
                <p class=" text-md lg:text-lg text-gray-600">Our experienced and professional cleaners will work with you to create a tailored cleaning plan that fits your needs and schedule, with thorough cleans every time.</p>
            </div>
        </div>

        <div class="card-3">
            <div class="brightness-75">
    
                <Image src={BedroomImage} alt="Image of a beautifuly styled kitchen" class=""/>
            </div>
    
            <div class="mx-8 lg:max-w-xl flex flex-col gap-4">
                <h2 class="mt-2 text-2xl lg:text-3xl text-[#B47A58] font-medium">Bond Cleans</h2>
                <div class="w-16 bg-[#DBBBA7] h-1 rounded-lg"/>
                <p class="text-md lg:text-lg text-gray-600">Our professional cleaners will work hard to get your rental property looking its best, ticking off all the essentials. We also offer a 100% Bond Back Guarantee.</p>
            </div>

    </div>

</section>