---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/LandingPage/HeroSection.astro';
import MidSection from '../components/MidSection/MidSection.astro';
import  ServicesSection from '../components/ServicesSection/ServicesSection.astro';
import WhySection from '../components/WhySection/WhySection.astro';
---

<Layout title="KeepItClean Toowoomba">
	<main class="max-w-7xl m-auto " >
		<HeroSection />
		<MidSection />
		<ServicesSection />
		<WhySection />
	</main>
</Layout>

