---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/LandingPage/HeroSection.astro';
import MidSection from '../components/MidSection/MidSection.astro';
---

<Layout title="KeepItClean Toowoomba">
	<main class="" >
		<HeroSection />
		<MidSection />
	</main>
</Layout>

