---
import { Image } from "astro:assets";
import {Icon} from "astro-icon"

---


<header class="bg-[#B68467] flex justify-between items-center px-24 py-8  max-sm:px-5 w-full max-h-24 mx-auto">
    <a href="/" class="flex items-center gap-x-4">
        <Image src="./KeepItCleanLogo.svg" width={120} height={160} alt="KeepItClean Logo" format="webp" class="rounded-2xl aspect-video object-cover" />      
    </a>
    <ul class="flex gap-x-8 justify-center ">
        <li> <a href="/services" class="text-white font-normal text-xl" >Services </a></li>
        <li>  <a href="/about" class="text-white font-normal text-xl">About</a></li>
        <li>  <a href="/faq" class="text-white font-normal text-xl ">FAQs</a></li>
        <li><a href="testimonials"    class="text-white font-normal text-xl ">Testimonials</a></li>
        <li><a href="/contact" class="text-white font-normal text-xl ">Contact</a></li>
    </ul>
    <div class="flex gap-x-8 items-center ">
        <a class="cursor-pointer gap-x-1 flex text-white font-normal" href="tel:+6146965555">
        <Icon name="bi:phone" height={30} width="24"/>
            6146965555
        </a>
        <button class="font-normal text-slate-900 bg-[#DBBBA7] whitespace-nowrap rounded-md px-7 py-2 ">
            Book a Clean
        </button>
    </div>
</header>